body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

/* Navigation buttons */
.nav {
  position: fixed;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

/* Common layout */
.page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profile page */
.profile {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  color:darkslategray;
}

/* Dashboard page */
.dashboard {
  background: linear-gradient(135deg, #74ebd5, #9face6);
  color:darkmagenta;
}

/* Headings */
.page h1 {
  font-size: 3rem;
  margin: 10px 0;
}

.page h2 {
  font-size: 1.5rem;
  margin: 5px 0;
}

/* Buttons */
button {
  margin: 10px;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #222;
  color: white;
}

button:hover {
  background: #444;
}
